// **************************************************
//  Default swiper.js styles
// **************************************************
%swiper-default {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;

  .swiper-slide {
    height: 100%;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: none;
    }
  }
}




// **************************************************
//  Default Previous/Next Arrows (for swiper.js)
// **************************************************
.arrows-default {
  .swiper {
    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 300;
      background: none;
      border: none;
      font-size: 0;
      cursor: pointer;

      &:after {
        color: $white;
        font-size: 2.5rem;
        font-family: 'Icons-Regular';
        transition: color $transition-long;
      }

      &:hover,
      &:focus {
        &:after {
          color: $primary-color;
        }
      }

      &.hide {
        display: none;
      }
    }

    .swiper-button-prev {
      left: 1vw;

      &:after {
        content: '\F053';
      }
    }

    .swiper-button-next {
      right: 1vw;

      &:after {
        content: '\F054';
      }
    }
  }
}




// **************************************************
//  Alternative Previous/Next Arrows (for swiper.js)
// **************************************************
.arrows-alternate {
  .swiper {
    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 300;
      background: rgba(255, 255, 255, 0.7);
      padding: 0;
      border: none;
      width: 44px;
      height: 44px;
      font-size: 0;
      cursor: pointer;

      &:after {
        color: #969595;
        font-size: 1.5rem;
        font-family: 'Icons-Regular';
        transition: all $transition-long;
      }

      &:hover,
      &:focus {
        background: #fff;

        &:after {
          color: $primary-color;
        }
      }
    }

    .swiper-button-prev {
      left: 1vw;

      &:after {
        content: '\F053';
      }
    }

    .swiper-button-next {
      right: 1vw;

      &:after {
        content: '\F054';
      }
    }
  }
}




// **************************************************
//  Default Pagination (for swiper.js)
// **************************************************
.pagination-default {
  .swiper {
    list-style: none;

    .swiper-pagination {
      bottom: 15px;
      width: 100%;
      position: absolute;
      text-align: center;
      transition: 300ms opacity;
      transform: translate3d(0, 0, 0);
      z-index: 10;

      .swiper-pagination-bullet {
        margin: 0 6px;
        background: #fff;
        width: 15px;
        height: 15px;
        opacity: 0.5;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }
  }
}




// **************************************************
//  Masthead Slideshow
// **************************************************
#site-masthead {
  position: relative;
  background: $black;

  // swiper.js
  .masthead-slideshow {
    .swiper {
      @extend %swiper-default;

      .swiper-wrapper {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          background: rgba(0, 0, 0, 0.4);
          z-index: 100;
        }
      }

      // hide the arrows on smaller viewports
      .swiper-button-next,
      .swiper-button-prev {
        @media(max-width: $viewport-small) {
          display: none;
        }
      }
    }

    &.homepage {
      .swiper {
        max-height: 960px;
      }
    }

    &.interior {
      .swiper {
        max-height: 600px;

        @media (max-width: $viewport-small),
               (max-height: $viewport-height-medium) {
          max-height: 50vh;
        }

        .swiper-wrapper {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}




// **************************************************
//  Content Slideshow (swiper.js)
// **************************************************
.content-slideshow {
  .swiper {
    @extend %swiper-default;
  }
}




// **************************************************
//  Centered Slideshow (swiper.js)
// **************************************************
.centered-slideshow-container {
  overflow: hidden;
  padding-bottom: 3em;
}

.centered-slideshow {
  position: relative;
  height: auto;
  max-height: 620px;

  .swiper {
    overflow: visible;
    user-select: none;
  }

  .swiper-wrapper {
  
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    transition: all .3s ease;

    &.swiper-slide-active {
      transform: scale(1.2);
      z-index: 2
    }
  }
}




// **************************************************
//  Default photoswipe.js styles
// **************************************************
.photoswipe-container {
  .photoswipe {
    display: grid;
    gap: 2em;
  }

  &.four {
    .photoswipe {
      grid-template-columns: repeat(4, 1fr);

      @media (max-width: $viewport-small) {
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
      }

      @media (max-width: $viewport-tiny) {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em 1em;
      }
    }
  }
}




// **************************************************
//  Captions (for photoswipe.js)
// **************************************************
.pswp__custom-caption {
  position: absolute;
  left: 50%;
  bottom: 1em;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  max-width: 400px;
  padding: 0.1em 0.5em;
  font-size: $primary-font-size;
  color: $white;
}

.pswp__custom-caption a {
  color: $white;
  text-decoration: underline;
}

.hidden-caption-content {
  display: none;
}