// **************************************************
//  General
// **************************************************
html {
  font-family: $primary-font;
  font-size: $root-text-size;
}

body {
  position: relative;
  background: $white-alt;
  color: $black;
}




// **************************************************
//  Reset
// **************************************************
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}




// **************************************************
//  Text
// **************************************************
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  color: $black;
  font-family: $primary-font;
  font-weight: 600;
}

h1,
.home h2 {
  font-size: 2.6rem;
  line-height: 4rem;

  @media (max-width: $viewport-small) {
    font-size: 2rem;
    line-height: 3rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 3rem;

  @media (max-width: $viewport-small) {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 1.4rem;
  line-height: 2.4rem;

  @media (max-width: $viewport-small) {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}

p {
  margin: 0 0 2em 0;
  font-family: $primary-font;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  color: $black;

  &:last-of-type {
    margin: 0;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a {
  color: $primary-color;
}